[2015-11-07 02:10] TomasVotruba opened #16 "Add slideshare account"
http://www.slideshare.net/Symfonycz

[2015-12-23 20:54] #16 closed

[2016-01-06 20:43] OndraM opened #19 "Missing favicon"
We should have an favicon, and current link is also broken:

[code]

Or we may just link to http://symfony.com/favicon.ico...

[2016-01-06 21:09] TomasVotruba commented on #19
Good catch!

I agree with one you linked. Could you send PR?

[2016-01-29 15:13] Zemistr commented on #19
Favicon is fixed. ;)
#22

[2016-01-29 15:59] TomasVotruba commented on #19
Thanks!

[2016-01-29 15:59] #19 closed

[2016-03-01 14:39] TomasVotruba opened #29 "Companies - highlight cooperating and create separated page for rest"
On the other page, split by cities, just to be quickly aware of Symfony in one's local town

[2016-03-01 19:14] TomasVotruba opened #30 "Add "sponsoring" page"
- what do we offer
- how do we do with attendancy etc.
- connect with #29 - make cooperative companies priviledged

[2016-03-02 00:07] TomasVotruba opened #31 "Add "blablacar" to companies examples"

[2016-03-03 16:15] TomasVotruba opened #32 "Add "fb tracking pixel""
https://www.facebook.com/business/help/952192354843755?__mref=message_bubble

[2016-03-06 15:37] TomasVotruba opened #33 "Check on mobile"
http://design.google.com/resizer/#url=http%3A%2F%2Fsymfony.cz

[2016-03-08 22:28] TomasVotruba opened #35 "Refactor main message"
Tips:

- Lidi + Symfony
- Zjednodušit - zaměřit na lidi (zkušenosti, znalosti, vztahy - kolega) a Symfony (cool věc v PHP a ve světě)
- 9x % webů jede na PHP (najít), Symfony je nejpoužívanější z PHP frameworků (nejaktivnější vyvíjený)

[2016-03-08 23:37] TomasVotruba opened #36 "Consider moving to sculpin"
- when too many pages
- nice showcase
- keep link to add companies simple!
- maybe add link to edit any page

[2016-03-09 07:08] spicimedved commented on #33
What exactly do you want to check? I did quick test with:
- Google Resizer,
- Chrome developer tool
- phone Sony Z2

It seems to be fine. Do you have some special requirement or idea?

[2016-03-09 12:31] TomasVotruba commented on #33
Thank for research. I want to check, what needs to be fixed.
I saw it on somebody's phone and it looked very bad compared to website.

IIRC:

- cities were crashed
- company list too long
- ...

[2016-03-10 16:19] TomasVotruba commented on #36
Resolved via f655e499b38c624dd88d68eeb7def84b252e9573

Now just edit code in `/source` directory

[2016-03-10 16:19] #36 closed

[2016-03-10 16:29] #32 closed

[2016-03-10 16:30] #31 closed

[2016-03-14 02:40] TomasVotruba opened #37 "Add "Orchitech" company"

[2016-03-23 23:03] TomasVotruba commented on #29
Closed via #38

[2016-03-23 23:04] #29 closed

[2016-03-23 23:06] #37 closed

[2016-04-04 18:21] #30 closed

[2016-04-05 11:30] TomasVotruba commented on #35
Done via #47

[2016-04-05 11:30] #35 closed

[2016-04-05 13:05] TomasVotruba commented on #33
Checked, fine, done :)

[2016-04-05 13:05] #33 closed

[2016-09-27 09:40] DaweTaller opened #61 "Connection to slack community"
Channel for programming tips, jobs, meetings, jokes, etc... Channel is public :)

Url: lbc-devs.slack.com

[2016-09-28 20:45] TomasVotruba opened #63 "[post ideas]"
Feel free to taky any topic. Just write in a comment you do so noone will take it too.

- [x] **what are tested articles and why** - ref https://twitter.com/hrachcz/status/816940948114571264 + make "Tester article" clickable to that article - #160
- [ ] bad practise: named services in Symfony
- [ ] drop getDoctrine() and custom repository in Symfony
- [ ] things you can do better in Symfony right

[2016-09-28 20:49] TomasVotruba opened #64 "[blog] drop getDoctrine() and custom repository in Symfony"

[2016-09-29 13:54] TomasVotruba opened #65 "Add meetup subpage"

[2016-09-29 13:55] TomasVotruba opened #66 "Add map subpage"

[2016-09-29 13:55] TomasVotruba opened #67 "Add blog"
Ad simple blog to start with, e.g. http://www.tomasvotruba.cz/blog/

Feel free to copy 1:1

Keep it simple
- no categories
- no pagingation
- author, title, perex, text

By lean method, step by step. The sooner, the better :)

[2016-10-15 14:19] TomasVotruba opened #70 "Add "headpicker" module"
[headpicker-index.txt](https://github.com/pehapkari/pehapkari.cz/files/531177/headpicker-index.txt)

[headpicker.zip](https://github.com/pehapkari/pehapkari.cz/files/531173/headpicker.zip)

Ref https://github.com/headpicker/headpicker.org/issues/1
Ref https://github.com/headpicker/headpicker.org/issues/2

![img_20160918_135909215-l](https://cloud.githubusercontent.com/assets/924196/19410718/6183fc

[2016-10-17 10:53] TomasVotruba opened #73 "[blog] things you can do better in Symfony right from the start"
5 things you can do better in Symfony right from the start

[2016-10-18 22:23] TomasVotruba opened #74 "Add slack"
https://pehapkari.slack.com/messages/general/

Invites here: https://slackinvite.me/to/pehapkari
---
- [x] Move https://pehapkari-temp.slack.com/messages/general/

[2016-10-20 20:31] TomasVotruba opened #75 "Companies to cooperate with"
Try:
- STRV
- Roackaway
- SocialBakers
- Skype

[2016-10-26 09:15] tomasfejfar opened #77 "Endless log entry generation in CLI"
When starting sculpin with:

[code]

I get endless stream of messages:

[code]

[2016-10-26 14:07] TomasVotruba commented on #77
Thanks for reporting. This is due to [PHP7_Sculpin](https://github.com/Symplify/PHP7_Sculpin) being in development.

Will be fixed in new version.

[2016-10-28 16:50] TomasVotruba commented on #67
Ping @petrjirasek, here

[2016-10-31 16:45] TomasVotruba commented on #61
It would be great to have one place to operate from. *United we stand* :)

Just having "mesto-<slug>" channels to keep it local, and #symfony, #nettefw, #laravel, #codeception... etc. for technology topics. We already did that with "Symfonisti" and "Nette camp".

What do you think?

https://twitter.com/Pehapkari/status/793120997276839940

[2016-11-02 18:58] TomasVotruba opened #81 "replace cleanup listener by own `/tmp` in Symfony kernel"
![image](https://cloud.githubusercontent.com/assets/924196/19943224/c22efb76-a136-11e6-81ff-a329f71d8cdb.png)

[2016-11-03 10:11] TomasVotruba commented on #74
Done

[2016-11-03 10:11] #74 closed

[2016-11-06 20:31] tomaskazatel commented on #66
@chemix you are already working on it?

[2016-11-07 16:03] chemix commented on #66
@tomaskazatel not yet. Ping me on slack

[2016-11-11 21:29] tomasfejfar opened #93 "Add "Press" link with Logo and visuals for branding"
I wanted to use pehapkari logo with text for my presentation, but I had to download it from Facebook :( It could be as simple as a link to ZIP file with logo files. Could be useful for partners as well - when they want to blog about an event the supported for example.

[2016-11-11 21:56] TomasVotruba commented on #93
After new one is picked (https://www.facebook.com/pehapkari/posts/1136780413038434), we can make some "for media" section.

Will you prepare this section then?

[2016-11-11 23:06] tomasfejfar commented on #93
Oh, I thought that the amazing elephant is winner hands down :D

![image](https://cloud.githubusercontent.com/assets/642928/20232892/d6a19294-a86b-11e6-9b41-20b439d5053f.png)

[2016-11-11 23:07] tomasfejfar commented on #93
I don't think we need "section" per-se. Jist a link in footer to zip file is good enough (KISS)

[2016-11-12 20:12] TomasVotruba opened #95 "Reduce "Hledáš radu nebo směr" just to Slack"

[2016-11-12 20:35] hranicka opened #97 "Vocabulary: Contributing issues"
Won't it be complicated to update vocabulary via pull requests?
Merge conflicts, duplicated terms, terms not merged but waiting in pull requests, etc.?

I know why it's done this way now. Simplicity. Just edit a template. Other solutions are expensive (time).

But when more people contribute to vocabulary, it should be better if someone (i.e. me) creates a web interface for adding these terms. The

[2016-11-12 22:12] TomasVotruba commented on #97
Thanks for bringing that up.

The main goal is sustainability, so creating some other PHP/Mysql application would be great and handy, yet unusable in year or 2, hard to scale and closed-source.

With Statie (static site generator), you can do that. It's matter of another PR.

This page was created yesterday, so it's not final version and your suggestions are valid and shall be implemented.

Doing

[2016-11-12 22:26] mrtnzlml commented on #97
@hranicka At this moment it's good enough and it's up to maintainers to merge those changes as soon as possible. The main point is to do minimal but even though valuable vocabulary (as a first draft).

[2016-11-12 22:30] TomasVotruba commented on #97
@mrtnzlml Could you merge them please as your created and have some idea how to do it? I've added you to maintainers.

[2016-11-12 22:34] mrtnzlml opened #98 "Vocabulary: terms ideas from first core-meetup"
There are few word ideas as an output from the first core-meetup. It would be great to explain what's going on there. It's good starting point if you don't have good ideas... :)

- [ ] service
- [ ] AMQP (RabbitMQ)

Ideas from @tomaskazatel:
- [ ] Semantics

Ideas from @kbarborak:
- [x] unit test
- [x] deployment
- [x] continuous integration
- [x] PSR
- [x] VCS or (maybe and?) Git

[2016-11-12 23:00] hranicka commented on #97
I know, it's the best (simplest) solution now. And will be ok until there will ve only a few opened merge requests. And probably... there won't be a lot of really concurrent contributions. Maybe at the beginning but not later when there will be nearly all common used terms.

Current simple solution is good when pull requests won't be opened weeks or months :)

Thank you @TomasVotruba, I'll look at

[2016-11-12 23:01] #97 closed

[2016-11-12 23:11] TomasVotruba commented on #97
Actually, I think this solve new feature on Github: https://github.com/blog/2243-rebase-and-merge-pull-requests

AFAIK, conflicts should not happen, if different parts of pages are edited. But not I haven't tested that.

That shall not happen till I'm alive :D

We could implement this, if there will be enough natural fails. Meaning if there will be significant number of alphabetical miss-placement

[2016-11-12 23:12] TomasVotruba commented on #97
@mrtnzlml Thanks!

[2016-11-14 07:07] tomaskazatel commented on #98
My ideas words for vocabulary

- [ ] Webhosting
- [ ] Cookies
- [ ] Regular expressions
- [ ] MVC
- [ ] Data type
- [ ] Variables
- [ ] Algorithm
- [ ] Object
- [ ] Class
- [ ] Instance
- [ ] Semantics
- [ ] Singleton
- [ ] Interface
- [ ] UI = user interface
- [ ] UX = user experience
- [ ] Constructor
- [ ] Agile
- [ ] Refactoring

These terms are less general but for dictionary perfect fit 😄

[2016-11-16 15:46] f3l1x opened #113 "Assets: use less instead of css"
## Pros
- easy css management
- DRY
- KISS

## Cons
- dependency (nodejs / composer)

[2016-11-16 16:43] TomasVotruba commented on #113
Just wondering, is there some PHP package we might use?

I would try to keep dependencies as minimum as possible.

[2016-11-16 17:04] f3l1x commented on #113
Sure.

https://github.com/leafo/lessphp

[2016-11-16 18:48] TomasVotruba commented on #113
Great. If you have an idea how to achieve this, please send PR

[2016-11-16 19:30] f3l1x commented on #113
@TomasVotruba Sure. Can you please assigne to me?

[2016-11-16 20:09] TomasVotruba commented on #113
@f3l1x You're there! I've added you to the members of the group.

[2016-11-25 16:03] TomasVotruba commented on #93
@tomasfejfar Could you connect with @chemix to get the logo and prepare this zip?

[2016-11-25 16:04] #81 closed

[2016-11-25 16:05] TomasVotruba commented on #75
Not important now

[2016-11-25 16:05] #75 closed

[2016-11-25 16:05] TomasVotruba commented on #70
Not relevant ATM

[2016-11-25 16:05] #70 closed

[2016-11-25 16:13] TomasVotruba commented on #65
Already included in main page.

[2016-11-25 16:13] #65 closed

[2016-11-25 16:28] TomasVotruba commented on #77
Ref #94

[2016-11-26 16:35] tomasfejfar commented on #93
Could do. But actually @chemix will need to do most of the work anyway (he'll need to create the zip to send me anyway).

@chemix: If you want me to do it anyway, let me know and I'll prepare a PR (or ideally start a branch here with the zip and I'll add it to the page and create PR from it).

[2016-11-26 18:26] TomasVotruba commented on #61
Closing as slack is main way and there is info about this in #liberec channel.

[2016-11-26 18:26] #61 closed

[2016-11-26 18:39] TomasVotruba commented on #113
Ping @pavelvondrasek

[2016-11-26 20:31] TomasVotruba commented on #95
Resolved by #114

[2016-11-26 20:31] #95 closed

[2016-11-26 20:31] TomasVotruba commented on #77
Resolved by #114

[2016-11-26 20:31] #77 closed

[2016-11-26 22:42] tomasfejfar commented on #77
Verified. Works fine now ❤️

[2016-11-27 14:17] TomasVotruba commented on #67
Ref #104

[2016-11-27 14:17] #67 closed

[2016-11-28 14:42] TomasVotruba opened #116 "Add slack channels image instead of logo"
Použít:

![lepsi-slack screen](https://cloud.githubusercontent.com/assets/924196/20796252/a4bd8af2-b7d5-11e6-843f-7fcc1352aea1.png)

[2016-11-29 16:28] TomasVotruba opened #117 "[manual] add page for speakers"
Describe instructions for speakears, format, slides, basic checks:

- všechno na slideshare a pošli link
- a nechat to na speakerech

[2016-12-02 01:58] TomasVotruba opened #119 "[blog] fix comment count"
- "X komentářů" => "0 komentářů"
- in post details and blog

[2016-12-02 13:16] TomasVotruba opened #120 "[blog] add page title, so it's obvious what is article and what is not"
- sth like "Komunitní blog o PHP, piš taky"

[2016-12-02 21:18] TomasVotruba commented on #119
Done via #118

[2016-12-02 21:18] #119 closed

[2016-12-02 21:58] TomasVotruba commented on #116
Resolved in #118

### Before

![image](https://cloud.githubusercontent.com/assets/924196/20851811/d6dd8006-b8e2-11e6-95b7-10416191c4df.png)

---

### After

![image](https://cloud.githubusercontent.com/assets/924196/20851799/c71ff590-b8e2-11e6-811a-901359d1ac10.png)

[2016-12-02 21:59] #116 closed

[2016-12-02 22:01] TomasVotruba commented on #63
Ping @enumag , would you take this topic?

[2016-12-02 22:14] enumag commented on #63
@TomasVotruba Hmm... is there even a way to not name services? (Of course the primary concern is to not use the names outside of yaml.)

[2016-12-02 22:51] TomasVotruba commented on #63
@enumag There [might be](https://github.com/symfonette), but that's not the goal here. Step-by-step decoupling might to lead that in time.

[2016-12-05 14:00] tomaskazatel opened #122 "Create page with people who want lecture and mentor"
Separate page with people from community who want lectures and/or mentor other people inside or outside the community.

- [x] Full name
- [x] Contact
- [ ] What want to lecture
- [x] What want mentor
- [x] Social media contact (maybe)

What do you think @TomasVotruba @chemix

[2016-12-06 14:20] TomasVotruba commented on #122
I'd start with mentoring, since it quite requested around myself. We can ad lecture page later.

For inspiration, see my old mentoring page: https://github.com/TomasVotruba/tomasvotruba.cz/blob/68ede20fde44a4ef680d952dfc7aadafbd89c13a/source/zkus-si-mentoring.twig

[2016-12-07 14:49] TomasVotruba opened #128 "[blog] disable html tags for socials tags"

[2016-12-07 14:49] TomasVotruba commented on #120
Resolved

[2016-12-07 14:49] #120 closed

[2016-12-07 16:39] TomasVotruba opened #129 "[blog-idea] Write about Statie"

[2016-12-07 18:58] tomaskazatel opened #131 "[blog-idea] Write about book sharing"

[2016-12-08 20:25] TomasVotruba commented on #131
Please only keep PR opened, if there already is some.

There is no added value in duplicating title in issue.

[2016-12-09 07:57] #131 closed

[2016-12-09 16:18] TomasVotruba commented on #131
Thank you

[2016-12-11 15:39] TomasVotruba opened #134 "[blog] add RSS.xml to /source"
### Todo
- create `/source/rss.xml.latte` file
- add important RSS tags with posts

### Inspiration
- [list of posts in blog](https://github.com/pehapkari/pehapkari.cz/blob/f3cfa4252418a67c5d29c28303248412f147533e/source/blog.latte#L16-L32) can be  used

[2016-12-11 18:11] TomasVotruba opened #136 "[travis] test statie generate command on PR"
- limit only deploy command to marge on master
- ref #135

[2016-12-11 18:13] SendiMyrkr opened #137 "Odkazy na github repozitáře související s celkovým projektem"
Nemám přesné informace o tom, jaké věci s projektem souvisí, ale bylo by asi dobré mít nějakou stránku kde by byly takové informace. Jednak na to které s projektem souvisí přímo a pak třeba na nějaké zajímavé/přidružené projekty. Vím, že je google, ale třeba repozitář webu jsem našel jenom tak, že vím, že takhle projekty děláte. Někdo nový/neznalý těch přístupů pak nemusí ani přijít na to, že vůbe

[2016-12-11 18:15] SendiMyrkr opened #138 "Odkazy přímo do repozitáře pro jednotlivé stránky na pehapkari.cz"
Na podnět @TomasVotruba na slacku, zakládám toto issue. Cílem by mělo být vytvořit na každé stránce projektu odkaz přímo na github pro editaci a vytvoření pull requestu

[2016-12-11 19:19] #136 closed

[2016-12-11 19:23] #128 closed

[2016-12-11 19:23] TomasVotruba commented on #134
Closed via #135

[2016-12-11 19:23] #134 closed

[2016-12-12 16:06] enumag opened #141 "Invalid links in RSS"
I noticed that the links in http://pehapkari.cz/rss.xml are not valid - they contain the "blog/" part twice. This of course affects things like http://devblogy.tk/detail/3895 as well.

[2016-12-16 10:32] TomasVotruba commented on #141
Could you send PR please?

[2016-12-16 12:13] TomasVotruba commented on #122
Ping. What's the status for this?

[2016-12-16 12:13] TomasVotruba commented on #66
See #110

[2016-12-16 12:13] #66 closed

[2016-12-19 17:32] TomasVotruba opened #143 "[books ideas]"
- [x] Principles of Package Design - 3 on the way
- [x] 1001 triků v PHP - 2 pieces left
- [x] Doctrine ORM Persistence - 1 on the way
- [x] Návrhové vzory
- [ ] Zranitelný kód (všude vyprodaný :/)

[2016-12-19 20:42] #141 closed

[2016-12-19 20:44] TomasVotruba commented on #113
Until we agree upon single pre-processor this would not bring any value.

Closing for now.

[2016-12-19 20:44] #113 closed

[2016-12-19 20:46] TomasVotruba commented on #93
Resolved by #124

[2016-12-19 20:46] #93 closed

[2016-12-19 22:21] TomasVotruba commented on #64
Moved to #63

[2016-12-19 22:21] #64 closed

[2016-12-19 22:21] TomasVotruba commented on #73
Moved to #63

[2016-12-19 22:22] #73 closed

[2016-12-19 22:22] TomasVotruba commented on #129
Moved to #63

[2016-12-19 22:22] #129 closed

[2016-12-24 22:07] TomasVotruba opened #144 "[blog] add post "revisors""
- add revised_by: [1, 2] section into articles
- so there is some value in looking sb else's article

[2016-12-24 22:40] enumag commented on #144
and to give articles more significance - "it's not just the writer's opinion, others support it as well"

👍

[2016-12-26 00:09] TomasVotruba commented on #137
Máš nějakou konkrétní představu jak to udělat?

[2016-12-26 00:38] TomasVotruba commented on #122
Could we move with this? I think it can be short work.

Maybe we could start with simple page with one mentor.

I'll take care of text and everything, feel free to just add a page.

[2016-12-26 00:48] TomasVotruba commented on #138
- [ ] pro blogposty
- [ ] pro zbytek

[2016-12-26 02:23] TomasVotruba opened #145 "[blog] highlight tested posts"
- [x] in blog list
- [x] in post detail

![test link](https://cloud.githubusercontent.com/assets/924196/21481708/443315ea-cb6b-11e6-8454-1d7dfa889df1.png)
![tested](https://cloud.githubusercontent.com/assets/924196/21481709/44333534-cb6b-11e6-8f47-472a3a4df753.png)

[2016-12-26 12:22] #138 closed

[2016-12-26 12:22] #145 closed

[2017-01-02 02:21] TomasVotruba commented on #122
I'm taking this

[2017-01-03 00:01] TomasVotruba commented on #122
Resolved by #151

[2017-01-03 00:01] #122 closed

[2017-01-05 17:40] #143 closed

[2017-01-05 17:40] TomasVotruba commented on #143
Příprava na psací soutěž :)

[2017-01-06 00:05] TomasVotruba commented on #144
@enumag Good idea!

![reviewed](https://cloud.githubusercontent.com/assets/924196/21702527/3023ac06-d3ac-11e6-92de-3b4fbc421c24.png)

[2017-01-06 00:09] #144 closed

[2017-01-08 01:14] Majkl578 opened #162 "HTTPS"
Just for the sake of having it. 💯

[2017-01-08 02:35] TomasVotruba commented on #162
Way to go!

I guess it's not possible :(
https://help.github.com/articles/securing-your-github-pages-site-with-https/

[2017-01-08 02:45] Majkl578 commented on #162
Too bad :/ , how about a CDN? Github.io feels like a _temporary_ solution for long-term run anyway...

[2017-01-08 02:53] TomasVotruba commented on #162
How to do that?

[2017-01-08 09:45] VaclavPavek commented on #162
https://www.root.cz/clanky/webhosting-s-cloudflare-bezpecna-cdn-zdarma/ nebo přejít na GitLab kde lze mít vlastní certifikát.

[2017-01-08 10:40] TomasVotruba commented on #162
@VaclavPavek Thread might be read by English-reading, stick to issue language please.

If you setup Gitlab the same way this repository is, I would like to see other advantages.

[2017-01-08 10:41] TomasVotruba commented on #162
@Majkl578 I'm curious. What is https good for on static website hosted on Github?

[2017-01-08 15:32] TomasVotruba opened #164 "Velká psací soutěž!"
- [x] udělat prototyp page
- [x] udělat z toho šablonu pro single page stránky
- [x] napsat do Melvilu: https://twitter.com/janmelvil/status/817818500127408128

[2017-01-08 18:00] TomasVotruba opened #165 "Display post visits via Google Analytics?"
https://www.google.cz/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=google+analytics+page+views+by+url&tbs=qdr:y

- https://developers.google.com/analytics/devguides/reporting/core/v4/quickstart/web-php
- https://github.com/google/google-api-php-client

[2017-01-08 18:19] Majkl578 commented on #162
@TomasVotruba Is that question meant for real, in 2017?
E.g.:
- privacy
- no MITM - even that Slack invite could be abused
- HTTP/2

https://developers.google.com/web/fundamentals/security/encrypt-in-transit/why-https
https://https.cio.gov/everything/

(It doesn't matter where the site is hosted.)

[2017-01-08 18:40] TomasVotruba commented on #162
@Majkl578 How is current year related to one's knowledge?

How to do this while keeping this open-sources and automated Travis deploy under few mins?

Last and the most important: would you take care of this whole process?

[2017-01-08 23:01] TomasVotruba commented on #164
Ref #166

[2017-01-09 00:58] #164 closed

[2017-01-09 00:58] TomasVotruba commented on #137
Pořádáme teď soutěž na psaní článků, takže toto by se teď mělo dostat do povědomí.

[2017-01-09 00:59] #137 closed

[2017-01-09 22:25] TomasVotruba commented on #162
Ping @grogy

Could you write your plan you suggested me today? It sounded really good

[2017-01-10 00:53] TomasVotruba opened #169 "školení page"
Přidat nebo pokecat s:

## Oslovit

- [ ] @Vrtak-CZ

## Osloveno

- [x] @grogy - Git
- [x] @tomasfejfar - ?
- [x] @ondrejmirtes  - ?

## Pošle nástřel

- [ ] @kocourekio Úvod do Nette
- [ ] @OndraM - 22. 7., Fuknční testování

## 2DO

- [x] najít školící místnost
- [x] vytvořit stránku
- [x] sehnat 3-4 témata
- [x] spustit první školení a zjistit poptávku

## Technické info ke školení

### My bych

[2017-01-11 17:17] TomasVotruba opened #170 "Add title anchors for posts"

[2017-01-12 06:56] tomasfejfar commented on #162
* cloudflare works fine with gitlab pages (see https://www.tomasfejfar.cz/)
* it's transparent proxy to whatever is below
* setup took roughly 4 hours - mostly because the DNS was cached, high TTL, etc.

[2017-01-12 11:02] TomasVotruba commented on #169
## Tomáš Votruba - Jak školit efektivně a lidsky

- TBA

[2017-01-12 13:15] Majkl578 commented on #162
@TomasVotruba We can talk about it more on Friday meeting.

[2017-01-12 14:21] TomasVotruba commented on #162
@tomasfejfar I miss **why** we need it here.

[2017-01-12 17:58] kbarborak commented on #98
My two cents for another contributors:

- unit test
- deployment
- continuous integration
- PSR
- VCS or git

[2017-01-13 09:07] tomasfejfar commented on #169
## Tomáš Fejfar - Úvod do PHP

* v rozsahu jako byly Czechitas
    * umím HTML/CSS
    * chci se naučit, jak fungují dynamické stránky v PHP
    * bez frameworku - základní věci
        * podmínky
        * cykly
        * require
        * rozdělování kódu
        * objekty a třídy, pokud bude čas

**Odhad trvání:** 8h
**Cena:** 10.000,- / počet lidí + provize za organizaci pro Péhápkaře + 2000,-

[2017-01-13 09:15] tomasfejfar commented on #162
* prevents ad-injecting on free wifi hotspots
* prevents MITM content injecting (facebook like button injection) - mostly also on free wifi hotspots
* protects privacy of visitors - you don't want to be known that you've read "why quit your corporate job?" on your work time in "a company from financial sector" (i.e. you work in a bank and your internet traffic is monitored).
* improved analytics (

[2017-01-13 09:40] Vrtak-CZ commented on #162
cc @spaze

[2017-01-13 10:15] spaze commented on #162
I've done some educational talks about why we need *HTTPS Everywhere*, here are the slides (in Czech, though): [HTTPS všude](https://www.michalspacek.cz/prednasky/https-vsude-proc-f5forum), and slightly more technical (and longer) about [HTTPS in general](https://www.michalspacek.cz/prednasky/https-ctvrtkon).

@TomasVotruba, if you could find few minutes to read them you should find some ideas on

[2017-01-13 13:00] TomasPilar commented on #63
@TomasVotruba Post about "composer-patches" is here https://github.com/pehapkari/pehapkari.cz/pull/174 :)

[2017-01-13 13:54] TomasVotruba commented on #162
Sorry, I wasn't clear enought. I understand https need. I asked about need of CDN.

[2017-01-13 14:24] tomasfejfar commented on #162
CDN is needed because Github Pages do not allow HTTPS directly on custom domain.

[2017-01-13 14:34] TomasVotruba commented on #162
I see, so there are 2 possible solutions:

1. add only CDN to allow https
2. use VPS hosting and deploy via Travis with rsync

Rights?

[2017-01-13 14:43] Majkl578 commented on #162
I was only talking about CDN because it's a static content so you wouldn't need a VPS or something. :) But of course it could be just a regular hosting or a VPS.

[2017-01-13 14:46] TomasVotruba commented on #162
@Majkl578 I would definitely take solution 1. I just can't believe it is so easy and there is no source about that :D

Prepare what you need for that from me. I'll be waiting at coffee table ;)

[2017-01-13 14:58] tomasfejfar commented on #169
## Tomáš Fejfar - PhpStorm

* základy nastavení projektu
* efektivní ovládání
* navigace v kódu
* refaktoring

**Odhad trvání:** 2-3h
**Cena:** 1000Kč/os

[2017-01-13 20:05] spaze commented on #162
@TomasVotruba, ah, sorry, missed that. To be fair, Cloudflare is not just a CDN provider, but also a web application firewall, and SSL/TLS terminating proxy (see [Cloudflare's "SSL" modes of operation](https://www.cloudflare.com/ssl/)). And the reverse proxy is what makes it possible to add HTTPS to any site. But Cloudflare is usually referred to as *the CDN provider*. Yeah, `$confusion++`.

Anywa

[2017-01-13 20:44] TomasVotruba commented on #162
@spaze My bad. What would you recommend to do then?

I can setup Travis deployment to some VPS.
But I need somebody who would set this up on Cloudflare/VPS/wherever needed.

[2017-01-13 20:45] TomasVotruba commented on #162
Could sb provide VPS or should I pay minimalistic DigitalOcean account?

[2017-01-13 20:52] spaze commented on #162
@TomasVotruba Cloudflare is fine in this case. Also easier (and cheaper I guess) to set up.

[2017-01-13 20:58] TomasVotruba commented on #162
@spaze Ok. Let's try it then.

What do we need? Could you help with that?

[2017-01-13 22:01] TomasVotruba opened #178 "Writing contest point evidence"
Ref: http://pehapkari.cz/napis-clanek-vem-si-darek

All winners were added to the table https://github.com/pehapkari/pehapkari.cz/blob/master/source/_data/rewards.neon

[2017-01-13 22:11] TomasVotruba commented on #98
I've cleared up completed ones (~80 % of all), so it's easier to read. Feel free to add new ones.

[2017-01-13 22:19] TomasVotruba commented on #170
How could you forget?!

[2017-01-13 22:25] #170 closed

[2017-01-14 01:30] spaze commented on #162
@TomasVotruba Happily :-)

Here's what's needed:
1. [Sign up](https://www.cloudflare.com/a/sign-up) for a Cloudflare account (in this case the free plan is fine)
2. [Enable two-factor authentication](https://www.cloudflare.com/a/account/my-account) (optional but recommended)
3. [Add a new site](https://www.cloudflare.com/a/add-site), Cloudflare will prefill the new DNS records by scanning current

[2017-01-14 01:40] TomasVotruba commented on #162
@spaze That's very nicely and clearly written :+1:

I believe you've done more often then I did, so I trust you with this. Taking risk of your death into account (at least we have this manual ;) ).

4. Current name servers are pointed to Github. Let me know the new ones, will change them.

[2017-01-14 01:49] TomasVotruba opened #179 "optimize Font Awesome"
remove unused icons

- http://fontawesome.io/cheatsheet/
- http://fontello.com/

[2017-01-14 01:59] spaze commented on #162
Ok, thanks @TomasVotruba :-)

I've now set up Cloudflare to know about pehapkari.cz, can you please change the NS records for the domain as follows? You can either create new NSSET or change the current one (`DIGITALOCEANTV`)

[code]

(I just wanted this to be documented here, feel free to ping me directly with issues and questions, I'll keep you update here)

[2017-01-14 13:09] TomasVotruba commented on #179
Or not :/ to much work for keeping up-to-date while using new ones.

[2017-01-14 13:09] #179 closed

[2017-01-14 23:54] spaze commented on #162
Lo and behold! **https://pehapkari.cz**

Also redirects are in place:

[code]

I can add HSTS and submit both sites to the preload list once we're sure we don't want to go back to plain HTTP. That includes all (future) subdomains, too. There should be no reason for that, though.

[2017-01-15 00:35] TomasVotruba commented on #162
Very nice!

Why this is different? :/

No need for http, feel free to proceed.

[2017-01-15 01:10] spaze commented on #162
It would load the page eventually with such rules anyway, especially when HSTS-preloaded, but thanks, I've added the rule now:
[code]

Preload list status:
[pehapkari.cz is pending submission to the preload list.](https://hstspreload.org/?domain=pehapkari.cz)
[phpkari.cz is pending submission to the preload list.](https://hstspreload.org/?domain=phpkari.cz)

[2017-01-15 23:03] TomasVotruba opened #184 "Intro claim"
- PHP runs 82% of web
- https://w3techs.com/technologies/details/pl-php/all/all

[2017-01-16 09:10] spaze commented on #162
@Majkl578 @TomasVotruba I think we can close this issue as `FIXED`

![My job here is done](https://biochemistry3rst.files.wordpress.com/2014/03/my-job-here-is-done.jpg)

[2017-01-17 12:17] TomasVotruba opened #186 "Editorconfig - extend spaces to all types"
See https://github.com/pehapkari/pehapkari.cz/pull/174#discussion_r96398862

[2017-01-17 23:37] grogy commented on #169
# Václav Makeš - Úvod do Gitu

**Cílová skupina:** vývojáři bez znalosti verzování

První **nástřel osnovy** níže. (mé původní ucelené školení je koncipováno na 9-10 hodin v kuse, dle [průzkumu](https://pehapkari.cz/blog/2017/01/10/5-temat-po-kterych-php-programatori-touzi/) jsem jej tady upravil):
- motivace proč se ho učit
- uca-cases jenž Git efektivně řeší
- pár slov k historii (opravdu pár, j

[2017-01-17 23:37] grogy commented on #169
# Václav Makeš - Mírně pokročilé pokračování Gitu

**Cílová skupina:** vývojáři se základní znalostí Gitu

První **nástřel osnovy** níže. (mé původní ucelené školení je koncipováno na 9-10 hodin v kuse, dle [průzkumu](https://pehapkari.cz/blog/2017/01/10/5-temat-po-kterych-php-programatori-touzi/) jsem jej tady upravil):

- vnitřnosti Gitu, aneb Git je easy
- interaktivní rebase
- větvení
- workfl

[2017-01-18 21:59] #186 closed

[2017-01-19 11:32] leninzprahy opened #192 "Redirection after change post slug"
It would be nice to have some table of renamed slug, and redirect to new one.

For example, the old one:
https://pehapkari.cz/blog/2017/01/20/jak-snadne-a-rychle-upravovat-soubory-ve-vendoru
redirect to new one:
https://pehapkari.cz/blog/2017/01/20/jak-snadno-a-rychle-upravovat-soubory-ve-vendoru

[2017-01-19 12:07] TomasVotruba commented on #192
It came to my mind too. Do you have some idea?

There could be some `_config/redirect.neon` file:

[code]

With generated static content using meta tag:

https://raw.githubusercontent.com/TomasVotruba/tomasvotruba.cz/master/source/_posts/2016/2016-08-15-podcast-o-php-a-sebevzdelavani.md

What do you think?

[2017-01-19 15:03] leninzprahy commented on #192
I'm not sure, because I don’t know how the "statie" exactly works.
I like the idea with the meta tags, and you may not need to generate it automatically. Just whenever You renames slug, you leave there the original file with the original slug to redirect.

[2017-01-19 22:49] ondrejmirtes commented on #169
Ondřej Mirtes - rapidní vývoj, continuous delivery
===================

* "Zkracování feedback loop" ([úvod do problematiky](https://ondrej.mirtes.cz/zkracovani-feedback-loop))
  * jak tvořit zadání se zadavatelem tak, aby vývoj proběhl hladce a zadavatel obdržel to, co chce
  * jak zorganizovat práci v týmu a programovat tak, aby nedocházelo ke všemožným problémům, bugy na produkci, nefunkční apl

[2017-01-19 22:52] ondrejmirtes commented on #169
Ondřej Mirtes - testování
==================

* Zavádění testů a testovací kultury - jak naučit a přesvědčit vývojáře, aby testy psát chtěli, jak přesvědčit management, že testy potřebuje
* Psaní testovatelného kódu, související návrhové vzory
* Základní a pokročilé funkce PHPUnitu, code coverage
* Upgrady na novější verze PHP (7.0, 7.1) a z toho plynoucí výhody a dopady na kód

[2017-01-19 23:25] ondrejmirtes commented on #169
Ondřej Mirtes - asynchronní PHP
==========

* Jak toho udělat více s menšími nároky na servery
* Princip fungování, přirovnání k Node.js
* Promises do hloubky, příklady využití (např. [Jak se pomocí nich zbavit větví v kódu](https://ondrej.mirtes.cz/zbavte-se-vetvi-v-kodu-pomoci-promises))
* Využití při zpracování message queues, RabbitMQ
* Využití při realtime komunikaci pomocí WebSockets
* Async

[2017-01-20 08:18] mrtnzlml opened #194 "Make Statie less annoying"
This is probably Statie issue, but it's closely related to this project. Statie doesn't regenerate ouput after save (very often) and sometimes it simply dies with:

[code]

It's super annoying to restart server every time a want to see changes.

[2017-01-20 12:28] TomasVotruba commented on #194
Ref: https://github.com/Symplify/Symplify/issues/30

[2017-01-20 12:29] TomasVotruba commented on #194
Ref: https://github.com/Symplify/Symplify/issues/35

[2017-01-20 12:33] #194 closed

[2017-01-22 19:17] enumag opened #198 "Docker probably broken"
I'm not using docker so I can't test it at the moment but I assume that [this](https://github.com/pehapkari/pehapkari.cz/blob/master/.docker/Dockerfile#L17) won't work correctly, right? Not sure if it's enough to change sculpin to statie.

[2017-01-26 21:25] TomasVotruba commented on #198
This should do:

- https://github.com/pehapkari/pehapkari.cz/commit/cd65fe7ce822af0b9da5e71666090c18e47a8ba8
- https://github.com/pehapkari/pehapkari.cz/commit/93c3d13b5ba6e489fca4e995d4bd6ad7730df577

Do you mean anything else?

[2017-01-26 21:29] enumag commented on #198
Should be ok.

[2017-01-26 21:29] #198 closed

[2017-01-26 21:57] TomasVotruba commented on #198
Thank for reporting

[2017-01-27 12:54] TomasVotruba commented on #192
After considering, metatags is the best solution so far.

I will add fix for that issue.

[2017-01-27 12:57] #192 closed

[2017-01-27 13:16] TomasVotruba commented on #192
It works :)

[2017-01-27 13:17] TomasVotruba commented on #184
Not priority

[2017-01-27 13:17] #184 closed

[2017-02-04 01:12] racinmat commented on #178
reservation: Security

[2017-02-06 20:37] TomasVotruba commented on #162
Post in progress: https://github.com/pehapkari/pehapkari.cz/pull/208 :)

[2017-02-06 21:12] Majkl578 commented on #162
Cool. :+1:
Closing here as it's been resolved.

[2017-02-06 21:12] #162 closed

[2017-02-07 03:39] Majkl578 opened #214 "Let blog articles have tags or categories"
Currently there's a bunch of _random_ articles, i.e. mix of Git, Nette, Symfony components, SymfonyCon report, all mixed up into one unsorted heap...
Would be nice to have at least some tags or categories to label them, filtering would be awesome.

[2017-02-09 06:48] castamir commented on #98
API
Rest (API)
Constructor hell
Continuous Delivery
End-2-End tests
+ Factory (i don't like current description, it should be more about responsibility for creating object and SRP)
IDE
Integration Tests
Lazy loading
Test Driven Development
many many tools that that everyone should at least know about (Gihub, Gitlab, Travis, Selenium, all bunch of client side tools)
many many other patters like MVV

[2017-02-09 07:55] mrtnzlml commented on #98
@castamir Feel free to send PR if you want. Otherwise your comment will die in eternity.

[2017-02-14 15:06] spaze opened #221 "Suggest better way of rehashing passwords in Symfony"
Hey, the process outlined in https://pehapkari.cz/blog/2017/02/06/how-to-rehash-legacy-passwords-in-symfony/ is sub-optimal. Here are the reasons, mostly copied from my comment below the article. Sorry I can't help with the code.

You should not keep hashes in your database unless they are one of
- PBKDF2
- scrypt
- bcrypt
- Argon2i

So you want to rehash all the passwords at once using a batch jo

[2017-02-15 11:45] TomasVotruba commented on #221
Ping @ikvasnica

[2017-02-15 12:01] #178 closed

[2017-02-15 12:06] TomasVotruba commented on #117
FB stačí

[2017-02-15 12:06] #117 closed

[2017-02-20 19:39] TomasVotruba commented on #221
I think this should be written on the blog.
Could I rephrase this into post? Me as reviewer, you as author.

[2017-02-20 19:39] TomasVotruba commented on #214
See #215

[2017-02-20 19:39] #214 closed

[2017-02-20 19:56] VaclavPavek opened #223 "O jaké školení máte zájem"
O jaká školení by jsi měl zájem a nenašel jsi je v issues https://github.com/pehapkari/pehapkari.cz/issues/169

[2017-02-20 19:58] VaclavPavek commented on #223
# Docker

- výhody / nevýhody
- tvorba vlastního obrazu / úprava existujícího (pokud mám .dockerfile)
- tagování
- předávání proměnných do kontejneru

## Ukázkový kontejner

- Apache + PHP + vlastní konfigurační soubor pro Apache a PHP
- tipy pro ladění na produkci

[2017-02-20 21:00] spaze commented on #221
@TomasVotruba I don't know Symfony that much to actually write the code to do what my original post says, sorry. What I'd like to see is a note added to @ikvasnica's piece saying there are different ways to do it (and also maybe slightly better ways :-)) And then somebody write a post following this advice. I don't really mind who but if @ikvasnica would like to I'd be happy panda. I think Ivan sa

[2017-02-20 21:06] TomasVotruba commented on #221
@spaze Not related to Symfony, just standalone general PHP "how to passwords" post.

It could be linked from original post, but also useful for other projects to read. Sb using Symfony would not read this if hidden in Symfony post.

I like the out loud thinking, doing the same here :)

[2017-02-20 21:34] ikvasnica commented on #221
@TomasVotruba I suggest a code example in a framework. In this scenario, you have a login system, saving user-related stuff into the database, I don't know if it's a good idea to use just a plain PHP example. Do you have any idea?

Or maybe a general PHP step-by-step tutorial, basically an extended version of the @spaze's post, plus a link to GitHub on a Symfony example?

I can write the post late

[2017-02-20 21:45] TomasVotruba commented on #221
@ikvasnica

Good idea. I can add my part for Nette, so people can relate to it.

Awesome. We can make writing hackathon over Sunday, coming to Brno @posobota :)

[2017-02-22 21:08] wodCZ commented on #223
# Refaktoring, práce s legacy projektem
Zajímaly by mě techniky, které by mohly pomoct s přebíráním legacy projeků. Jak postupovat s vytvářením testů takovýhle projektů, jak kód bezpečně zrefaktorovat a podobně. Zkrátka jak dělat s legacy kódem a nepo**at se z toho. Možná @mrtnzlml by k tomu uměl něco říct? Nevím, Martine, jak moc se do této komunity a jejích aktivity angažuješ, tak se kdyžtak pro

[2017-02-23 08:12] mrtnzlml commented on #223
Ahoj @wodCZ. Základem úspěchu jsou dva jednoduché kroky:

1) zjisti proč to došlo až do tohoto stavu a
2) zařiď odchod těchto lidí z firmy, protože pokud je ten projekt v takovém kreku jako jsem se setkal já, tak ti lidé nejsou *dlouhodobě* dostatečně kompetentní a nezlepší se to - jsou to prostě špatní programátoři a jejich špatní vedoucí

Z mojí strany o to asi nemám zájem, protože bych nedokáza

[2017-02-23 19:30] wodCZ opened #225 "statie generate failure"
Hello!

I have just installed this repository following readme.md  instructions and when I run `vendor/bin/statie generate --server`, I get this exception:
[code]

And similar error when I try to run this with `docker-compose up`:
[code]

[2017-02-23 19:39] Majkl578 commented on #225
Must've been broken recently, worked for me before udpating now. Attaching update log if anyone wants to debug it.

[code]

[2017-02-23 19:42] Majkl578 commented on #225
Workaround: downgrade react to 0.4.x:
[code]

[2017-02-23 19:49] Majkl578 commented on #225
@wodCZ You should report it against Statie: [symplify/statie](https://github.com/symplify/statie)

[2017-02-23 19:53] wodCZ commented on #225
I see - will do, thank you Michael.

By the way, is there a reason why `composer.lock` is in `.gitignore`?

[2017-02-23 22:27] TomasVotruba commented on #225
It's been fixed in master, I'll tag it ASAP.

To be aware of these issues.

[2017-02-25 10:21] xpavp03 opened #226 "název písma v logu"
Kdo víte, můžete prosím doplnit název fontu do http://pehapkari.cz/press/ ?
Jestli se dá někde stáhnout zdarma, tak včetně odkazu.

Díky

[2017-02-26 01:23] TomasVotruba commented on #226
Ping @bretislavstepan

[2017-02-26 17:50] bretislavstepan commented on #226
Font: Diavlo
Řez: Bold
Download: http://www.exljbris.com/diavlo.html

[2017-02-26 18:04] xpavp03 commented on #226
Díky, založil jsem #228.

[2017-02-26 18:04] #226 closed

[2017-02-26 18:04] bretislavstepan commented on #226
Mám zkusit připravit PR stránky?

[2017-02-26 18:14] TomasVotruba commented on #226
Perfecto!

[2017-02-28 12:10] TomasVotruba opened #230 "Add "related articles" section under post"
<strike>Pick them based on similarity. Top 3</strike>

Explicitz! AI fails hard

[2017-03-06 08:13] #98 closed

[2017-03-07 21:25] TomasVotruba commented on #225
Should be resolved in last 1.4 version. Please check @wodCZ

[2017-03-07 23:35] josefzajac commented on #225
Check README.md also

[2017-03-08 15:54] TomasVotruba commented on #225
@josefzajac Check! https://github.com/pehapkari/pehapkari.cz/commit/3daa0c48dceeca04d5cd6dd32120763dd50d05c7

Feel free to send PR next time. I wasn't sure, what you mean for a while.

[2017-03-08 17:50] TomasVotruba commented on #225
All should be here:
https://github.com/pehapkari/pehapkari.cz/pull/235

[2017-03-14 00:31] Majkl578 opened #241 "404 not working"
404 returns GitHub error page instead of our custom error. :/
https://pehapkari.cz/blahblah

[2017-03-14 13:26] rapemer opened #242 "Language / Jazyk"
Ahoj,

jsem sám tak trochu vyděšen z toho, že půlka článků je psána česky a půlka anglicky? A že není žádný přepínač, který by indikoval jazykovou mutaci?

1. Je-li cílová skupina komunity zaměřená na Českou Republiku (soudě dle názvu asi ano), nedává smysl psát v angličtině.

2. Je-li cílová skupina mezinárodní, pak by bylo vhodné zrušit český název a psát pouze anglicky.

3. Je-li cílová skupina

[2017-03-14 14:15] Majkl578 commented on #242
Pokud vím, cíl je expandovat/rozšířit audienci i o EN, jen se to ještě nezrealizovalo. A upřímně, zrovna u _vývojářů_, kteří denodenně čtou EN manuály apod., bych nečekal, že jim bude angličtina nepříjemná.
Víc k věci vysvětlí spíš @TomasVotruba.

[2017-03-14 15:35] TomasVotruba commented on #241
Got any suggestion?

[2017-03-14 15:44] Majkl578 commented on #241
GitHub expects file 404.html in the root of gh-pages repo.
Statie generates 404/index.html. No idea how to fix/hack/change that to generate different filename...

[2017-03-14 15:48] TomasVotruba commented on #241
I see. Thank you.

@ikvasnica Got any ideas? How did you solved this?

[2017-03-14 16:11] ikvasnica commented on #241
@TomasVotruba I did not, unfortunately. As Majkl578 pointed out, it generates the output into its own directory.

[2017-03-14 19:06] TomasVotruba commented on #242
Ahoj, logika je jednoduchá: **cílová skupina a tedy jazyk je podle tématu článku**. Pokud píšu o Nette srazu, píšu spíš česky, pokud píšu o Laravelu, píšu anglicky.

Tedy podoba verze 3. Z tvého textu jsem vyčetl 2 feature requesty:

- bylo by vhodné vytvořit překlady daných článků, aby si každý vývojář mohl vybrat, co je mu příjemnější - s tím souvisí možnost filtrovat články dle jazyka ...

Co z

[2017-03-15 15:53] Majkl578 commented on #241
@TomasVotruba I consider this an issue due to Statie behavior. How easy/hard would it be to change Statie to let user override the output file path/format, i.e. in the Neon metadata?

[2017-03-16 22:52] #225 closed

[2017-03-16 23:00] TomasVotruba commented on #169
@martinahynkova Here

[2017-03-19 19:14] TomasVotruba commented on #242
Ping

[2017-03-19 19:15] TomasVotruba commented on #221
Closing for now.

Feel free to reopen, if somebody will start writing a post.

[2017-03-19 19:15] #221 closed

[2017-03-19 19:16] TomasVotruba opened #248 "[vocabulary ideas]"
Followup inspiration to #98

- [ ] CQRS

[2017-03-19 19:48] spaze commented on #221
As the article still has issues I've at least created #249 to highlight my comment that it can be done in a better and more secure way.

[2017-03-19 20:16] TomasVotruba commented on #221
@spaze Perfect solution! Feel free to merge it.

[2017-03-20 14:12] TomasVotruba opened #254 "[education] add open-source support fund - 5 %"

[2017-03-22 03:05] Majkl578 opened #255 "Jak snadné je používat CI: nefunkční odkaz na výsledek"
https://github.com/pehapkari/pehapkari.cz/blob/805a37a0244191233c2f663c4b944e5f04d0997f/source/_posts/2017/2017-03-08-jak-snadne-je-pouzivat-ci.md#hotov%C3%BD-k%C3%B3d-ke-sta%C5%BEen%C3%AD

Nefunkční odkaz na GitLab (vyžaduje přihlášení), viz komentář pod článkem. Můžeš se na to podívat, @hranicka? Díky.

[2017-03-22 08:35] hranicka commented on #255
Fixed. Sorry.

[2017-03-22 12:25] Matthw98 commented on #242
S překlady daných článků vám můžou pomoci na [www.prekladysro.cz/anglictina](url). Můžu jedině doporučit co se týče poměru cena/výkon ;)

[2017-03-22 14:35] TomasVotruba commented on #242
@Matthw98 Vypadá to, že to není tak důležité. Navíc jsme komunita, tak jedeme na dobrovolné motivaci.

[2017-03-22 14:35] #242 closed

[2017-03-22 15:15] Majkl578 commented on #255
👍 Díky.

[2017-03-22 15:15] #255 closed

[2017-03-26 12:03] rapemer commented on #242
@TomasVotruba Ahoj Tome, neřeším problém, jen se zamýšlím nad tématem multijazyčnosti ;-) Samozřejmě si rád přečtu jak české, tak anglické články. Nicméně by bylo zajímavé psát články v angličtině, zpětně je překládat do ČJ a nechat návštěvníka vybrat, co je mu příjemnější.

Co se týče ochoty, ta je, nicméně nejsem dvakrát velký příznivec Nette a nejsem si jist, zda bych byl pro takovou funkčnost

[2017-03-26 15:00] TomasVotruba commented on #242
@rapemer Pohodka. Díky i za tuhle reakci. Mám potřebu to vysvětlit z hlediska životního cyklu komunitního open-source projektu.

Chápu, že je to zajímavé. Stejně jako by bylo zajímavé, kdyby někdo psal jeden článek týdně ve dvou různých jazycích, k oběma testy, poslal by je do 3x PHP newsletterů, Tweetnul to, hodil link FB...
Tím nechci schazovat tvou názor!

Nicméně v rámci open-source je potřeba

[2017-03-27 13:01] Majkl578 opened #256 "Make a sniff to filter out trailing whitespaces"
See https://github.com/pehapkari/pehapkari.cz/pull/253#issuecomment-287766861.

[2017-03-31 18:36] TomasVotruba commented on #256
It looks like there is new fixer in PHP-CS-Fixer 2.2, that should do this: https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/2603/files

Can you confirm it does the job?

[2017-04-05 21:43] TomasVotruba commented on #256
Ping

[2017-04-16 14:55] TomasVotruba opened #264 "[homepage] add video section"
- live streams
- talks records
- meetup live streams on FB Live
- twitch

[2017-04-17 10:36] TomasVotruba opened #265 "[nejenophp] migrate posts in here"
http://nejenophp.cz/

[2017-04-30 23:48] TomasVotruba commented on #265
Done!

[2017-04-30 23:48] #265 closed

[2017-04-30 23:49] TomasVotruba opened #271 "[homepage] improve livestream section - FB live + Twitch"
Surpassed by #264

[2017-05-01 12:22] #256 closed

[2017-05-17 13:07] TomasVotruba opened #282 "[homepage] prepare English translation"
Based on feedback of few non-Czech speaker, it's difficult to find out what we do on homepage, even with Google Translate. And they're lost and leave, even though the look for help on Slack or so.

There could be just single page translation, nothing fancy, to make life easier for them.

[2017-05-19 21:30] TomasVotruba opened #283 "[homepage] drop newsletter, not in the flow"

[2017-05-28 15:46] jkuchar opened #287 "Tested Articles: Automatic checks of tests"
When I was writing #285 and then #286 I got quite angry because I was not able to get my code pass thru code style checker. It took me more time than writing actual tests for the article. This is not the way to go.

## Formatting
- Is that crucial how tests for articles are formatted? Maybe just recommend PSR-1? Isn't that enough?

## Code quality
- code checker is checking things that are worth m

[2017-05-28 15:51] TomasVotruba commented on #287
I will fix issues first, so we know narrow scope to relevant parts.

What checker reports `CRLF`? We can remove that.

[2017-05-28 15:59] jkuchar commented on #287
It is quite strange, it does not show message what is wrong and line...

![image](https://cloud.githubusercontent.com/assets/133822/26530119/b8871bcc-43ce-11e7-85a4-df9cd60fe161.png)

But it look like that these two are making problems:
PhpCsFixer\Fixer\Whitespace\LineEndingFixer
PhpCsFixer\Fixer\NamespaceNotation\BlankLineAfterNamespaceFixer

When I run `vendor\bin\easy-coding-standard check src

[2017-05-28 18:11] TomasVotruba commented on #287
@jkuchar Perferct report, thank you. I will get to that till the end of next week.

[2017-05-29 06:51] TomasVotruba opened #288 "[core meetup #3] 2. 6. 2017"
## Co probrat

Aktuálně domáme spoustu otevřných issue, která pomalu začínají vyhnívat. Abychom pomalu nevyhořeli, je potřeba začít je dotahovat a vůbec si stanovit cíle, za kterými jdeme.

- vizi
- sepsat ji
- sepsat core tým
- sepsat nabídku se zapojit činností a rozhodováním

## Úkoly na příští týden

[2017-05-29 06:51] TomasVotruba commented on #288
Vedle :/

[2017-05-29 06:51] #288 closed

[2017-06-02 17:29] TomasVotruba commented on #254
Not correct place.

[2017-06-02 17:29] #254 closed

[2017-06-02 17:30] TomasVotruba commented on #223
@jakubkratina Je tu zájem o školení Dockeru :+1:
Co ty na to?

[2017-06-02 17:30] TomasVotruba commented on #283
Done

[2017-06-02 17:30] #283 closed

[2017-06-03 12:12] jakubkratina commented on #223
@TomasVotruba o Dockeru nevím tolik, abych ho školil. Ale zeptám se Daniela (na slacku veeenex), jestli by měl zájem.

[2017-06-03 15:17] VaclavPavek commented on #223
@jakubkratina mě docela pomohlo tvé video na twitchy. Docker bych měl spíše na hraní místo VirtualBoxu (platilo v době kdy jsem psal issue), ale uvědomil jsem si, že VirtualBox je pro mě v současné době stále nejlepší řešení - lze snadno přesunout na pc s Windows v případě havárie NTB (já mám Linux). Zajímavé by bylo vytvoření vývojového prostředí pro Nette / Symfony ala Laravel/Homestead.

[2017-06-03 15:30] jakubkratina commented on #223
@VaclavPavek To rád slyším, že ti to pomohlo :) Jak to myslíš s tím přesunem? U dockeru je to právě ještě jednodušší - `docker pull <image>` && `docker run ..` a máš všechno.

[2017-06-03 18:16] VaclavPavek commented on #223
@jakubkratina když by mi odešel NTB tak mám celé vývojové prostředí v jednom diskovým image bez nutnosti cokoli nastavovat a řešit na NTB s Windows (sebral bych manželce NTB). Windowsy jsem už hóóóódně dlouho nepoužíval a ani to nemám v plánu.

[2017-06-03 18:23] jakubkratina commented on #223
@VaclavPavek Nevím co vše myslíš vývojovým prostředím, ale v docker image právě máš kompletní nastavení, os, software (git, npm atp.) a neřešíš platfotmu a nic nenastavuješ. Jen nainstaluješ docker a spustíš container. Ale pokud mluvíš třeba o IDE atp. tak o to se ti docker samozřejmě nepostará :)

[2017-06-03 18:37] VaclavPavek commented on #223
@jakubkratina když jsem naposledy zkoušel docker na Winrodws tak to nějak nefungovalo. Ve VirtualBoxu mi stačí vytvořit vpc a připojit diskový image. V každém případě díky za tvé video.

[2017-06-04 08:35] VeeeneX commented on #223
@jakubkratina Veľmi dobrý nápad nemám s tým problém. Ešte by sme mohli osloviť chalanov z #Docker. Nám sa vtedy podarilo usporiadať aj Docker Birthday party.

@vaclavpavel Napríklad ja mam v dockery celé prostredie, vývoj, testing aj staging. A výhoda? Na svojej masine nemám nič. Len samé image, stačí mi clean install s dockerom :D

Ohľadom nejakého školenia môžem ukázať ako vytvoriť prostredie pr

[2017-06-06 11:45] TomasVotruba opened #292 "[team] add section with team, who does what and who are we looking for"
New page `team.latte`

Based on feedback of many others and @f3l1x

## Team

- @jakubkratina
- @chemix
- @tomasvotruba

Any one else?

[2017-06-10 12:25] jkuchar opened #294 "[blog] jednoslabičné předložky"
![image](https://user-images.githubusercontent.com/133822/27002677-d97ec758-4de7-11e7-8d26-7a8650161c1b.png)

Všiml jsem si, že na rozdíl od Texy! formátovače, Markdown formátuje český text proti pravidlům českého pravopisu. Je možné s tím něco udělat? Mělo by stačit výstup prohnat tímto: [Texy typografický modul](https://github.com/dg/texy/blob/master/src/Texy/Modules/TypographyModule.php)

[2017-06-16 11:28] TomasVotruba commented on #294
Klasické `&nbsp;` nestačí? Tak to většinou řeším.

[2017-06-16 11:29] TomasVotruba commented on #169
@kocourekio Štěpáne, můžeš prosím své školení hodit sem?

[2017-06-16 13:31] jkuchar commented on #294
Jo, ale stejný problém má i obsah článků,

[2017-06-16 14:54] kocourekio commented on #169
# Štěpán Kocourek - Úvod do Nette

- adresářová struktura (+ best practices)
- Dependency Injection a běhové prostředí, konfigurace
- Tracy Debugger a eliminace chyb
- Model-View-Controller: presenter a životní cyklus
- Latte: silný šablonovací jazyk a dědění šablon
- databáze: nativní podpora ve frameworku
- routování: vytváření odkazů a hezkých URL v jakékoliv podobě
- úvod do formulářů

**Odhad

[2017-06-16 15:10] TomasVotruba commented on #294
Rozumím.

Toto je záležitost Statie, která renderuje obsah článku do Latte/Markdownu.

Mělo by stačit přidat formátovač sem: https://github.com/Symplify/Symplify/blob/fc0ab5eb9a47dc05fc98f8f2ed6b6c9834914718/packages/Statie/src/Renderable/RenderableFilesProcessor.php#L85

Pošleš PR?

[2017-06-24 11:46] TomasVotruba commented on #169
@kocourekio Ahoj Štěpáne, jdu na to. Nezapomněl jsem, jen jsem minulý týden řešil první Ondrovo školení.

Vypadá to ok, možná bych změnil pořadí, ať je na úvod jasné, co je MVC a jak Nette pracuje a  související části jsou u sebe:

- adresářová struktura (+ best practices)
- routování: vytváření odkazů a hezkých URL v jakékoliv podobě
- Model-View-Controller: presenter a životní cyklus
- Dependenc

[2017-06-24 11:52] kocourekio commented on #169
@TomasVotruba Určitě, jsem pro. ;)

[2017-06-24 11:54] TomasVotruba commented on #169
Díky za bleskovou odpověď :)

Pošli teda pull-request na info se školeníma prosím: https://github.com/pehapkari/pehapkari.cz/blob/90054bd569b01f0461748d210d39d85e0cadb58f/source/_data/trainings.neon#L35-L51

Ještě to učešem

[2017-06-24 11:56] kocourekio commented on #169
@TomasVotruba Až budu u PC, předpokládám večer. :)

[2017-06-28 11:18] kocourekio commented on #169
@TomasVotruba Omlouvám se za zpoždění. https://github.com/pehapkari/pehapkari.cz/pull/296

[2017-07-07 16:09] spaze opened #297 "Update HTTPS post to use new Always use HTTPS button"
Cloudflare made it easier to redirect HTTP to HTTPS by [adding a new button](https://blog.cloudflare.com/how-to-make-your-site-https-only/). Change [the post](https://pehapkari.cz/blog/2017/03/13/how-to-add-https-to-github-pages-in-6-steps/) to reflect that.

The post was added in #208.

[2017-07-12 09:21] TomasVotruba commented on #241
Moved to https://github.com/Symplify/Symplify/issues/253

[2017-07-12 09:22] #241 closed

[2017-07-12 22:10] TomasVotruba commented on #294
Je to tady dlouho bez reakce, tak zavírám.

Možnost s PR stále platí

[2017-07-12 22:10] #294 closed

[2017-07-12 22:12] TomasVotruba commented on #287
Since May 2017 there have been many improvements in EasyCodingStandard. Even fixes for screens you added.

As related PR with tests is merged: https://github.com/pehapkari/pehapkari.cz/pull/300, I'm closing this.

If you find any issue in your next tests, report it at [Symplify issues](https://github.com/Symplify/Symplify/issues) please, thank.

[2017-07-12 22:12] #287 closed

[2017-07-12 22:13] TomasVotruba commented on #248
Not relevant at the moment.

For future commers: feel free to send PR with any at least partially PHP related term.

[2017-07-12 22:13] #248 closed

[2017-07-12 22:15] TomasVotruba commented on #297
Could you take care of that or  do you need any help?

[2017-07-27 22:33] TomasVotruba opened #305 "[contest] turn down and use prizes on meetups or livestream"
- disable https://pehapkari.cz/napis-clanek-vem-si-darek and related links
- they've got no attention over last 4 months and livestream might be more useful place to use them on

[2017-08-16 20:52] spaze commented on #297
Created #309 to address this.

[2017-08-16 20:57] #297 closed

[2017-08-16 21:00] TomasVotruba commented on #297
Thanks"

[2017-08-23 14:11] TomasVotruba opened #312 "[posts] add related_posts"
- [x] add id connections
- [x] add section under/above post

[2017-08-23 14:21] #305 closed

[2017-08-23 14:54] TomasVotruba commented on #230
Duplicate to #312

[2017-08-23 14:54] #230 closed

[2017-08-23 14:55] TomasVotruba commented on #169
Issue zavírám, protože hlavní body jsou vyřízeny.
Pro nové školení otevři nové issue

[2017-08-23 14:55] #169 closed

[2017-08-23 15:10] TomasVotruba commented on #165
@jakubkratina Ti Tome posílal nějakej skript, tak se na něj mrkni

[2017-08-23 15:49] jakubkratina commented on #165
@TomasVotruba co? :D

[2017-08-23 16:16] TomasVotruba commented on #165
@jakubkratina To byla poznámka pro mě :D

[2017-08-23 16:18] jakubkratina commented on #165
@TomasVotruba Tak proč označuješ mě? :D 🗡

[2017-08-23 16:19] TomasVotruba commented on #165
@jakubkratina Jsem byl na mobilu a potřeboval jsem si to nutně připomenout. Kdybych věděl, že na mě vytáhneš svůj :dagger: , vzal bych si :crossed_swords:

[2017-08-23 16:25] jakubkratina commented on #165
@TomasVotruba: 🔫

[2017-08-23 16:37] TomasVotruba commented on #165
@jakubkratina  :dragon:

[2017-08-24 14:26] TomasVotruba opened #315 "[edit button] move under menu"
Edit button is not very important for menu or page orientation.

It's important only for constributors, so it might be bit smaller and few pixels under the main menu.

That way, a longer context-aware text could be there:

- Edit Post
- Edit Page

What do you think?

[2017-08-25 19:32] #312 closed

[2017-10-18 16:24] Lexinek commented on #223
Mě by dost zajímalo https://github.com/pehapkari/pehapkari.cz/issues/169#issuecomment-273931044 od @ondrejmirtes je to nějak v budoucnu v plánu?

[2017-10-23 18:31] racinmat opened #330 "Deprecatin notice under article"
Hi, there is deprecation notice under the article https://pehapkari.cz/blog/2017/03/13/how-to-add-https-to-github-pages-in-6-steps/.

![image](https://user-images.githubusercontent.com/5525771/31906340-1fd9918e-b831-11e7-9a6f-f3f8aa64e3fd.png)

[2017-10-23 22:41] TomasVotruba commented on #330
Thanks for reporting, resolved by https://github.com/pehapkari/pehapkari.cz/commit/d88336c58003229a95e5b8d9e5a29550cb48fe84

Feel free to send PR next time, if you find time.

[2017-10-23 22:41] #330 closed

[2017-10-31 00:06] TomasVotruba commented on #282
After while... not so relevant for our local community

[2017-10-31 00:06] #282 closed

[2017-10-31 00:07] TomasVotruba commented on #63
Not relevant anymore. Feel free to inspirace, in case you're looking for some posts

[2017-10-31 12:52] #271 closed

[2017-10-31 12:53] #63 closed

[2017-10-31 17:52] TomasVotruba opened #337 "Switch from Scrutinizer to simpler and faster Coveralls coverage check"

[2017-11-06 23:00] TomasVotruba commented on #292
Being resolved at #335

[2017-11-06 23:00] #292 closed

[2017-11-06 23:00] TomasVotruba commented on #337
Resolved at #335

[2017-11-06 23:00] #337 closed

[2017-11-06 23:00] TomasVotruba commented on #315
Resolved at #335

[2017-11-06 23:00] #315 closed

[2017-11-06 23:00] TomasVotruba opened #339 "PHP University inspiration"
- https://www.vzhurudolu.cz/kurzy/svg

[2017-11-06 23:02] TomasVotruba opened #340 "Pro firmy inspirace"
- https://www.vzhurudolu.cz/reklama

[2017-11-17 15:44] TomasVotruba commented on #223
Školitelů je už je dost, teď na samotná školení :)

[2017-11-17 15:45] #223 closed

[2017-11-19 13:22] TomasVotruba opened #344 "Media ke stažení - přidat letáky"
See https://vsezaodvoz.cz/stahnete-si

[2017-12-06 14:12] Lexinek opened #353 "Unable to run project locally using docker-compose command"
Hi, i followed guide at https://github.com/pehapkari/pehapkari.cz/blob/master/README.md step by step as well tried to run app using docker (https://github.com/pehapkari/pehapkari.cz/blob/master/docs/docker.md) but unsuccessfully.

When accessing `http://localhost:8000` i see 404 error:
<img width="1680" alt="screenshot 2017-12-06 15 09 41" src="https://user-images.githubusercontent.com/3995003/336

[2017-12-06 14:17] Lexinek commented on #353
Ok, seems that i have found the problem, statie was generating sources for over 5 minutes with alot of warnings and deprecated messages - it was confusing for me that i have to wait while statie generates the code.

So only the docker is not working.

[2017-12-17 14:43] TomasVotruba opened #363 "Consider automatic Tweets for posts, so they get attention they deserve"
- [x] decouple package from TomasVotruba - https://github.com/TomasVotruba/tomasvotruba.cz/
- [x] split it - https://github.com/TomasVotruba/statie-tweet-publisher
- [x] require it here
- [x] get Tweitter tokens
- [x] set it to repo on Travis
- [x] use it :)

[2018-01-07 13:55] tomasfejfar opened #370 "Can't run website locally"
running `gulp` fails with:
[code]

I ran both `composer update` as well as `npm install`. On a side note, I'd suggest that [we should commit lockfile](https://blog.martinhujer.cz/17-tips-for-using-composer-efficiently/#tip-%235%3A-you-should-commit-%60composer.lock%60-to-git-in-applications) as the web is a project rather than a library. And we should be sure that if it worked locally it will work

[2018-01-07 16:29] TomasVotruba commented on #370
What needs to be fixed in preg_match to make it run?

[2018-01-07 16:31] tomasfejfar commented on #370
I have no idea where it comes from. It does not throw an exception with stack.

[2018-01-07 16:35] tomasfejfar commented on #370
With verbose output:
[code]

[2018-01-07 16:36] tomasfejfar commented on #370
And contents of the last file in stack:
[code]

[2018-01-07 20:32] TomasVotruba commented on #370
This just cache file, error is probably earlier.

I was referencing first error:

W:\www\projects\pehapkari.cz\vendor\symfony\finder\Iterator\MultiplePcreFilterIterator.php on line 65

With no ending delimiter. What is the regular expression there?

[2018-01-07 22:43] tomasfejfar commented on #370
The regex error is now fixed via https://github.com/Symplify/Symplify/pull/562. But the fatal error at the end still remains.

Any pointers why are posts empty?

[2018-01-07 23:01] TomasVotruba commented on #370
Thank you :clap:

Posts should be set here: https://github.com/Symplify/Symplify/blob/af910d22df79d034d2bcead8b4fe60d49b01881f/packages/Statie/packages/Generator/src/Generator.php#L75

With "posts" as first value, array of `PostFile` objects as second one.

To next possible steps to look at:

- here should be default `GeneratorElement` for post: https://github.com/Symplify/Symplify/blob/af910d22df

[2018-01-11 14:14] simara-svatopluk opened #374 "Is it possible to remove NoClassInstantiationSniff?"
I would send a pull request, but just removing this sniff doesn't help.

I think that this sniff is against OOP.
My use case - I have a domain class `Cart`, I want to create an internal domain object `Item`. The `Item` is part of the internal structure and will never be propagated out of the aggregate `Cart`. This is the implementation. I know I use `Cart` and in this class, there will be always `

[2018-01-11 14:28] TomasVotruba commented on #374
tl;dr; Sure :+1:

I realize it's too strict rule valid only in DI-ready-packages, not community websites with posts.

Feel free to add it to `excluded_checkers`

[2018-01-11 14:30] simara-svatopluk commented on #374
Thanks for a quick response. I'll do it in a separated commit with next article.

[2018-01-11 14:30] #374 closed

[2018-01-12 13:18] #370 closed

[2018-01-15 15:50] simara-svatopluk opened #379 "Is it possible to add Postgres to travis?"
Hi guys,

I'm writing an article about a Doctrine and I would love to have access to the database so I could run tests against it. The code is already done and tests are passing *on my machine*.

Could You please help me with adding the Postgres to the Travis?

[2018-01-15 16:02] TomasVotruba commented on #379
Hey, do you need Doctrine to run on database or really Postgres?

Doctrine works well with sqlite on tests, which are fast and easy to run and setup. I've used for all my Doctrine packages I used on Postgres projects.

Here is all I used: [Kdyby\Doctrine for Nette](https://github.com/DeprecatedPackages/DoctrineFixtures/blob/a18ae07d3bd5c22537e0a06a93db0765d2b8b3c6/tests/config/default.neon#L14)

[2018-01-15 16:12] simara-svatopluk commented on #379
The article will be also about system testing against a real database. So for readers, it would be nice to see these tests working. Test against postgres is a bit more difficult than testing against sqlite.

If it is not possible to have postgres tests, then sqlite will be good enough :-) The rest will be written in the article maybe with a link to my GitHub.

[2018-01-15 16:16] simara-svatopluk commented on #379
I just started to work on the article, and first I'm summarizing what do I need. So I don't have a failing Travis yet

[2018-01-15 16:29] enumag commented on #379
I also recommend using sqlite for the tests. If it is necessary it should be possible to add postgres using docker.

[2018-01-15 16:36] simara-svatopluk commented on #379
It is not absolutely necessary, but it would be a benefit for readers.

Well, the Docker is not my friend, so I cannot do it myself. If You can help with adding the postgres into the Travis, it would be great, otherwise, tests will run against sqlite :-)

[2018-01-15 18:38] TomasVotruba commented on #379
@simara-svatopluk  Also think about other people that will add post with tests to this repo. Docker as requirement to run simple website just to add 100 markdown lines would probably turn them down.

[2018-01-15 18:39] simara-svatopluk commented on #379
good point, sqlite is enough

[2018-01-15 18:39] #379 closed

[2018-01-15 18:48] TomasVotruba commented on #353
@newPOPE Hi, could you look on this?

[2018-01-15 19:32] newPOPE commented on #353
Hi, I check it. @Lexinek can you try this version https://github.com/newPOPE/pehapkari.cz? What OS you have? (Linux or OSX, if OSX how you run Docker? Docker for MAC or Parallels, Dropbox?).

[2018-01-19 11:38] TomasVotruba opened #380 "[blog] add English post for "Add a post" to blog headline"
There are many English posts already.
So this will make people who understand English aware of option to contribute.

![big english wanna write here](https://user-images.githubusercontent.com/924196/35149238-a3aef1c4-fd15-11e7-8f5f-1a71e7eaae17.png)

CZ: https://pehapkari.cz/blog/2016/12/01/chces-psat-o-php-posli-pr/
EN: @todo

[2018-03-06 09:57] TomasVotruba opened #390 "[lectures] add edit link on the bottom, as posts have"

[2018-03-06 14:19] TomasVotruba commented on #390
This is actually about 2 issues:

- posts are missing footer - https://pehapkari.cz/blog/2018/02/28/domain-driven-design-repository, the black panel on the bottom, like on homepage
- and under lectures is the same, but **Oprav nám ji, prosím** link is missing

![image](https://user-images.githubusercontent.com/924196/37037028-b7581876-2151-11e8-87e5-2231983d56bd.png)

[2018-03-06 14:22] EdoBarnas commented on #390
I will try to process that.

[2018-03-07 18:30] TomasVotruba commented on #390
Fixed via #394

[2018-03-07 18:30] #390 closed

[2018-03-07 18:31] TomasVotruba commented on #339
Done https://pehapkari.cz/vzdelavej-se/

[2018-03-07 18:31] #339 closed

[2018-03-07 18:32] TomasVotruba commented on #353
@Lexinek Is this still an issue?

[2018-03-08 11:32] Lexinek commented on #353
@newPOPE Im sorry, absolutely forgot about this issue.

I am running on OSX and using the Docker for MAC.

Works fine with the new image 😉 there were few warnings but completed successfully. Thank you

Anyways i have an advice, you could add `RUN composer global require hirak/prestissimo --no-interaction --ansi` to your dockerfile as it will fasten up installing composer dependencies drastically!

[2018-03-08 11:36] Lexinek commented on #353
@newPOPE sorry, in the end, npm errors ocurred:

[code]

This looks like issue with `package.json`

[2018-03-08 11:37] Lexinek commented on #353
If i run `npm install` on my host (not in docker), it finishes successfully

[2018-03-08 11:47] newPOPE commented on #353
@Lexinek thanks, I will check it.

[2018-03-22 11:24] newPOPE commented on #353
@Lexinek hi I check problem which you mention. This version is rebased to actual master https://github.com/newPOPE/pehapkari.cz and can build & run with no problem (OSX, parallels) so I think issue is for Docker for MAC. Maybe someone with native docker on Linux can verify master.

[2018-03-31 06:09] TomasPilar opened #417 "Stránky o školení mají všechny stejný titulek v prohlížeči"
Všechny stránky o školení mají `<title>Děláš v PHP? Jsi jedním z nás</title>` z pohledu SEO a vyhledávačů je potřeba mít univerzální titulky pro každou stránku. Zde by tím titulkem mohl být název školení (stejně jako je na detailu článku titulkem jeho název).

[2018-03-31 13:18] TomasVotruba commented on #417
Dobrý nápad :+1:

Co ode mě potřebuješ, abys to dokázal přidat, stejně jako to mají posty?

[2018-03-31 14:27] TomasPilar commented on #417
Heleď já asi nic, nevím přesně, jak to ve Statie funguje a jak to mají implementované  blogové příspěvky. Pouze jsem si toho všiml, když jsem opravoval typo ve svém školení. :-)
Pokud se to hodí, tak nechám implementaci asi na někom zkušenějším.

[2018-03-31 15:13] TomasVotruba commented on #417
Jestli znáš trochu Nette a Latte, tak tak ;)

Koukám na to a je to tím, že školení mají `name` místo `title`, jinak by to už dávno bylo.
Sem by mělo jít stačit přidat: `$name`

https://github.com/pehapkari/pehapkari.cz/blob/f531874fe2dd1626564dbd96df4d878ccd3efed5/source/_snippets/head.latte#L35

Nebo to líp sjednotit, obojí na "name", aby nedocházelo k těmto wtf:

[2018-04-11 18:35] TomasVotruba opened #435 "[lectures] add references in lecture detail"
Take these:

- [x]  https://github.com/pehapkari/pehapkari.cz/blob/master/source/_data/lecture_references.yml
- [x] and the one from https://docs.google.com/document/d/1MCnfFFWXxo262rebF1k-0W_-FbWVuj_3pc2WA3--UCM/edit?ouid=107371378567698701347&usp=docs_home&ths=true
- [x] and  https://docs.google.com/forms/d/1M3hK--ZqKzaJ2peO84N3KNX26dmcBzWjSTzvZ8JB4k4/edit#responses

And put them automatically u

[2018-04-11 18:36] #417 closed

[2018-04-11 18:42] #380 closed

[2018-04-11 19:27] #363 closed

[2018-04-11 19:27] TomasVotruba opened #437 "[tweets] add them to each post that has value in present"

[2018-04-11 22:26] #437 closed

[2018-04-12 17:52] TomasVotruba commented on #264
Will be resolved in new design

[2018-04-12 17:52] #264 closed

[2018-04-12 17:53] TomasVotruba commented on #353
Closing as explained by @newPOPE as Docker + MAC issue

[2018-04-12 17:53] #353 closed

[2018-04-12 19:36] Lexinek commented on #353
Many thanks to both of you! The rebased version was working as i mentioned, so i think everything is working, every is happy 😄 thanks once again!

[2018-04-16 15:41] TomasVotruba opened #440 "Prepare PHP Prague 2018 site"
- [x] redirect https://phpprague.cz → https://pehapkari.cz/php-prague/
- [x] add basic info
- [x] prepare space for partners
- [x] refresh logo - could you update the logo @chemix - DONE
- [x] ask people abroad for talks
    - [x] PL
    - [x] Dresden
    - [ ] Berlin
    - [ ] Munich
    - [x] Austria

Add more tasks, if I missed smth

[2018-04-17 22:28] chemix commented on #440
![website](https://user-images.githubusercontent.com/42802/38901962-a0cddf82-429e-11e8-8d42-913adab432f4.png)

or svg version

http://jsfiddle.net/yxmwgoun/1/embedded/result/

[2018-04-18 06:55] TomasVotruba commented on #440
Thanks for fast work

Could you add English date "June 23, 2018" so people abroad understand?

[2018-04-18 08:27] chemix commented on #440
![website](https://user-images.githubusercontent.com/42802/38920092-bf17ffbe-42f2-11e8-9dbc-9c4b005ea3f3.png)

http://jsfiddle.net/chemix/yxmwgoun/2/embedded/result/

[2018-04-18 08:40] TomasVotruba commented on #440
Tthe best, thanks :+1:

[2018-04-22 17:26] #435 closed

[2018-05-02 00:53] spaze opened #452 "Custom domains on GitHub Pages now support HTTPS directly"
Update this [post about HTTPS via Cloudflare](https://github.com/pehapkari/pehapkari.cz/blob/master/source/_posts/2017/2017-03-13-how-to-add-https-to-github-pages-in-6-steps.md) to say that it's possible to use HTTPS directly.

Also add a howto for going back from Cloudflare to Github's native HTTPS.

And maybe, just maybe, move the pehapkari.cz/sk site off Cloudflare to use the option, too.

[2018-05-16 13:41] TomasVotruba opened #459 "Add Google search on posts"
- https://pehapkari.cz/blog/
- https://www.tomasvotruba.cz/blog/2018/04/12/the-best-5-of-256-bloghacks-book/#4-put-a-search-on-website

[2018-05-16 22:58] TomasVotruba commented on #452
I just tried going Github only on https://github.com/tomasvotruba/tomasvotruba.cz and the Github tutorial was so complicated and unclear that I gave up after 6 hours and went back to Cloudflare.

Used sources:

- https://blog.github.com/2018-05-01-github-pages-custom-domains-https/
- https://help.github.com/articles/setting-up-an-apex-domain/

WTF foundings:

- to enable https, Github needs to be

[2018-05-25 15:12] TomasVotruba opened #466 "Add Sylius reference"
Hey,

well, to be honest I was really suprised by the professionalism of the training. I didn't expect that we will cover as many things as we did. Łukasz is a great person and a great teacher. I would join a lot more of his trainings without a question.

Also, the place was nice. I've had everything I've needed (including water and lemonade, thanks for that!).

Sorry for being late with the respo

[2018-06-05 16:03] TomasVotruba opened #477 "Add Tomas Jacik as organizer to the team"
Tomáš Jacík - organizátor PHP Pivo Olomouc

[2018-07-16 22:01] TomasVotruba opened #487 "New web integrations"
- https://github.com/TroiaStudio/YoutubeAPI

[2018-08-28 06:44] Qitek85 opened #489 "Chybný odkaz z twitch.tv na Slack pozvánku"
1. chci se nechat pozvat na Slack Péhápkařů
2. jsem na www.twitch.tv/pehapkari
3. odkaz z textu: "Nech si poslat pozvánku na mail" vede na: https://slackinvite.me/to/pehapkari
4. na tomto odkazu je reklama na elektronické cigarety

[2018-08-28 07:35] TomasVotruba commented on #489
Ahoj Vítku,

díky za report.

Správný odkaz je: https://pehapkari.herokuapp.com/

@jakubkratina Můžeš to fixnout prosím?

[2018-09-23 14:10] TomasVotruba commented on #489
Ping @jakubkratina

[2018-09-23 14:12] #477 closed

[2018-09-23 14:16] #459 closed

[2018-09-23 14:17] TomasVotruba commented on #344
Out of date

[2018-09-23 14:17] #344 closed

[2018-09-23 17:03] TomasVotruba opened #505 "Update eventigo link, out of order"
Use newsletter link instead

[2018-09-24 09:09] TomasVotruba commented on #440
Could you link the playlist? Is it complete = including me? :)

[2018-09-24 09:36] chemix commented on #440
Check if playlist exists, or create new one.

all videos are online

![image](https://user-images.githubusercontent.com/42802/45945517-09108780-bfee-11e8-8b19-7417801326e8.png)

[2018-09-24 09:46] TomasVotruba commented on #440
Where?

[2018-09-24 09:49] chemix commented on #440
https://www.youtube.com/channel/UCTBgI1P8xIn2pp2BBHbv5mg/videos?shelf_id=1&view=0&sort=dd there are all videos uploaded to youtube channel pehapkari

[2018-09-24 12:52] jakubkratina commented on #489
Will do!

[2018-09-24 16:39] jakubkratina commented on #489
Opraveno, díky.

[2018-09-24 16:39] #489 closed

[2018-09-24 16:43] TomasVotruba commented on #489
Díky Kubi <3

[2018-09-24 18:58] TomasVotruba opened #513 "Add video links - youtube for livestreams and fb for meetups"

[2018-09-28 08:21] TomasVotruba opened #517 "Consider adding automated english version"
Ref https://github.com/TomasVotruba/friendsofphp.org/issues/45

[2018-10-01 14:46] #505 closed

[2018-10-01 15:07] TomasVotruba commented on #440
Done in: https://github.com/pehapkari/pehapkari.cz/commit/b6edb3f41fdf0e394149c3b58f20dd62a2706704

https://pehapkari.cz/php-prague

[2018-10-01 15:07] #440 closed

[2018-10-01 15:18] chemix commented on #440
❤️

[2018-10-01 15:59] TomasVotruba commented on #440
I also postd on socials:

- https://twitter.com/Pehapkari/status/1046778642565492737
- https://www.facebook.com/pehapkari/photos/a.966414480075029/1867209809995487/?type=3&theater

[2018-10-12 10:49] xpavp03 opened #522 "SocialTags block issue"
When you look into the source code of
https://pehapkari.cz/blog/2017/03/27/multiple-php-versions-the-easy-way/

you'll find these tags at the very end, after /BODY. They're supposed to go into HEAD:
meta property="og:type" ...

[2018-10-12 10:56] TomasVotruba commented on #522
Please use English

[2018-10-12 10:58] xpavp03 commented on #522
When you look into the source code of
https://pehapkari.cz/blog/2017/03/27/multiple-php-versions-the-easy-way/

you'll find these tags at the very end, after /BODY. They're supposed to go into HEAD:
meta property="og:type" ...

[2018-10-12 10:59] TomasVotruba commented on #522
Thanks, I'll check it

[2018-10-19 07:31] xpavp03 opened #525 "Dockerfile installs deprecated stuff"
curl -sL https://deb.nodesource.com/setup_7.x | bash -
[code]

docker-php-ext-install zip
[code]

npm install -g gulp gulp-watch
[code]
and similar messages for graceful-fs@3.0.11, minimatch@2.0.10, minimatch@0.2.14 and graceful-fse@1.2.3

[2018-11-10 18:06] TomasVotruba commented on #165
After a gap year, obviously not a priotity :)

[2018-11-10 18:06] #165 closed

[2018-11-10 19:15] #522 closed

[2018-11-12 16:16] JanMikes opened #537 "Strip special html entities from title"
There is issue when title contains html entities like `&nbsp;` it is displayed in the `<title>` as well:
<img width="294" alt="screenshot 2018-11-12 17 15 34" src="https://user-images.githubusercontent.com/3995003/48360043-942d0600-e69e-11e8-9cc9-3a17ef85f106.png">

[2018-11-12 16:24] TomasVotruba commented on #537
Dare your fix that in Symfony code? :)

[2018-11-13 09:52] #537 closed

[2018-11-14 12:59] JanMikes opened #541 "Update bootstrap 4.0.0.beta to 4.1.x"
It should possibly be easy, just update -> important is to check that nothing has broken

[2018-11-14 13:46] TomasVotruba commented on #541
You can just send PR right away for these. No need to create issue first

[2018-11-14 21:19] #541 closed

[2018-12-18 22:37] martinahynkova opened #548 "hotjar heatmaps"
![image](https://user-images.githubusercontent.com/24881512/50187234-c4129d80-031d-11e9-9de5-f4d7de9919a8.png)

[2018-12-20 14:12] martinahynkova opened #549 "Cancel hotjar"
please please please

[2018-12-20 14:13] martinahynkova opened #550 "Add contact"
![kontakt](https://user-images.githubusercontent.com/24881512/50289644-bb2ee280-0469-11e9-83a7-0130bc4a7f4a.png)

[2018-12-20 14:14] martinahynkova commented on #550
Něco takového, můžeš upravit nebo zkrátit cokoliv...
chtěla jsem dát na konec, ale na téhle stránce je konec v nedohlednu, je tam strašně moc věcí.

[2018-12-24 17:06] #549 closed

[2018-12-24 17:07] TomasVotruba commented on #549
Done :heavy_check_mark:

Merry Christmass :palm_tree:

[2018-12-31 19:31] TomasVotruba commented on #452
Closing as I'm unable to resolve it and current `https://` works.

[2018-12-31 22:39] spaze commented on #452
Changed the post to say the CF method is deprecated

[2018-12-31 22:54] #452 closed

[2019-01-02 21:05] TomasVotruba commented on #550
Ok, přidáno na nový web

[2019-01-02 21:05] #550 closed

[2019-01-28 15:28] TomasVotruba commented on #548
Resolved

[2019-01-28 15:28] #548 closed

[2019-05-20 12:19] TomasVotruba commented on #525
Closing as this repository was moved to https://github.com/pehapkari/pehapkari.cz
and many thing changed since

[2019-05-20 12:20] #525 closed

[2019-05-20 12:20] TomasVotruba commented on #517
Closing as this repository was moved to https://github.com/pehapkari/pehapkari.cz
and many thing changed since

Use English/Czech only, mixing will only add work and confusion with lack of maintenance

[2019-05-20 12:20] #517 closed